; Created by @mail-core/platform
registry=https://verdaccio.devmail.ru:443
unsafe-perm=true
@auth:registry=https://verdaccio.devmail.ru:443
@types:registry=https://verdaccio.devmail.ru:443
@account:registry=https://gitlab.corp.mail.ru/api/v4/packages/npm/
@paradigm:registry=https://verdaccio.devmail.ru:443
@mail:registry=https://gitlab.corp.mail.ru/api/v4/packages/npm/
@qa:registry=https://gitlab.corp.mail.ru/api/v4/packages/npm/
@cloud:registry=https://gitlab.corp.mail.ru/api/v4/packages/npm/
@home:registry=https://gitlab.corp.mail.ru/api/v4/packages/npm/
@srch:registry=https://gitlab.corp.mail.ru/api/v4/packages/npm/
@go:registry=https://gitlab.corp.mail.ru/api/v4/packages/npm/
@mail-core:registry=https://gitlab.corp.mail.ru/api/v4/packages/npm/
tag-version-prefix=v
message=build(npm): %s
@ux:registry=https://gitlab.corp.mail.ru/api/v4/packages/npm/
@pulse:registry=https://gitlab.corp.mail.ru/api/v4/packages/npm/
@media-ui:registry=https://gitlab.corp.mail.ru/api/v4/packages/npm/
@media-platform:registry=https://gitlab.corp.mail.ru/api/v4/packages/npm/
@otvetmailru:registry=https://gitlab.corp.mail.ru/api/v4/packages/npm/
@browser:registry=https://gitlab.corp.mail.ru/api/v4/packages/npm/
@vk-workspace:registry=https://gitlab.corp.mail.ru/api/v4/packages/npm/
@iframe:registry=https://gitlab.corp.mail.ru/api/v4/packages/npm/
@vkontakte:registry=https://verdaccio.devmail.ru:443
@bumris:registry=https://gitlab.corp.mail.ru/api/v4/packages/npm/
@rustore-web:registry=https://gitlab.corp.mail.ru/api/v4/packages/npm/
@instant-messengers:registry=https://gitlab.corp.mail.ru/api/v4/packages/npm/
save-exact=true
save-prefix=
legacy-peer-deps=true
@swa:registry=https://gitlab.corp.mail.ru/api/v4/packages/npm/
@calendar:registry=https://gitlab.corp.mail.ru/api/v4/packages/npm/
@tutoria:registry=https://gitlab.corp.mail.ru/api/v4/packages/npm/
@cx-vk-team:registry=https://gitlab.corp.mail.ru/api/v4/packages/npm/
@intdev:registry=https://gitlab.corp.mail.ru/api/v4/packages/npm/
@web-im:registry=https://gitlab.corp.mail.ru/api/v4/packages/npm/
